
.sticky-app {
    color: #5F5F5F;
    background-color: #FBFBFB;
}

.remove-rad-nav {
    border-radius: 0;
}

.add-todo {

    margin-bottom: 0;
}

.todo-list {
    height: 65vh;
    overflow-y: auto;
    border-top: 0;
}