<nav class="navbar navbar-default navbar-fixed-top remove-rad-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stickyBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">St<i class="fa fa-check" style="color:coral" aria-hidden="true"></i>cky</a>
        </div>
        <div class="collapse navbar-collapse" id="stickyBar">
            <!--ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
            </ul-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span id="sign-in-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="sign-out" href="">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
