<div id="signin-partial" class="row">
    <div class="col-sm-3"></div><!--Makes Sign in panel center-->
    <!--Sign in form-->
    <div class="col-sm-6">
        <h2 style="text-align: center">St<i class="fa fa-check" style="color:coral" aria-hidden="true"></i>cky</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" id="sign-in-form">
                    <!--username-->
                    <div id="f_username" class="form-group">
                        <label for="username">username:</label><span id="error_username"></span>
                        <input type="text" class="form-control" id="username" placeholder="Your username">
                    </div>
                    <!--/username-->
                    <!--password-->
                    <div id="f_password" class="form-group">
                        <label for="password">password:</label><span id="error_password"></span>
                        <input type="password" class="form-control" id="password" placeholder="Your password">
                    </div>
                    <!--/password-->
                    <!--Remember-->
                    <div class="form-group">
                        <label for="remember" class="checkbox-inline"><input type="checkbox" value="remember"
                                                                             id="remember">Remember me</label>
                    </div>
                    <!--/Remember-->
                    <!--Sign in button-->
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-warning" id="sign-in-btn"
                        ><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign in
                        </button>
                    </div>
                    <!--/Sign in button-->
                </form>
                <a href="" id="signup-link" class="pull-right"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Create
                    an account</a>
            </div>
        </div>
        <div id="alert1"></div>
        <div id="alert2"></div>
        <div id="guest-access" style="display:none" class="panel panel-default">
            <div class="panel-body">
                Access for guest
                <hr>
                <small>Username:</small>
                guest<br>
                <small>Password:</small>
                123
            </div>
        </div>
    </div>
    <!--/Sign in form-->
    <div class="col-sm-3"></div><!--Makes Sign in panel center-->
</div>

<div id="signup-partial" class="row" style="display: none">
    <div class="col-sm-3"></div><!--Makes Sign up panel center-->
    <!--Sign up form-->
    <div class="col-sm-6">
        <h2 style="text-align: center">St<i class="fa fa-check" style="color:coral" aria-hidden="true"></i>cky</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" id="sign-up-form">
                    <!--username-->
                    <div id="f_username_signup" class="form-group">
                        <label for="username_signup">username:</label><span id="error_username_signup"></span>
                        <input type="text" class="form-control" id="username_signup" placeholder="Your username">
                    </div>
                    <!--/username-->
                    <!--password-->
                    <div id="f_password_signup" class="form-group">
                        <label for="password_signup">password:</label><span id="error_password_signup"></span>
                        <input type="password" class="form-control" id="password_signup" placeholder="Your password">
                    </div>
                    <!--/password-->
                    <!--repeat password-->
                    <div id="f_repeat_password_signup" class="form-group">
                        <label for="repeat_password_signup">repeat password:</label><span
                            id="error_repeat_password_signup"></span>
                        <input type="password" class="form-control" id="repeat_password_signup"
                               placeholder="repeat password">
                    </div>
                    <!--/repeat password-->
                    <!--Sign up button-->
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-warning" id="sign-up-btn"><i
                                class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Sign up
                        </button>
                    </div>
                    <!--/Sign up button-->
                </form>
                <a href="" id="signin-link" class="pull-right"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign
                    in</a>
            </div>
        </div>
        <div id="alert1_signup"></div>
        <div id="alert2_singup"></div>
    </div>
    <!--/Sign up form-->
    <div class="col-sm-3"></div><!--Makes Sign up panel center-->
</div>
