<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default remove-rad-nav add-todo">
            <div class="panel-body" style="border-bottom: 1px solid coral;">
                <form role="form" id="sign-in-form">
                    <!--add todo-->
                    <div id="f_topic">
                        <input type="text" class="form-control" id="topic" placeholder="write a todo...">
                    </div>
                    <!--/add todo-->
                </form>
            </div>
            <!--div class="panel-body" style="border-bottom: 1px solid coral;">
                <ul class="list-inline" style="margin-bottom: 0">
                    <li><a href="#All" id="check_all">Check all</a></li>
                    <li><a href="#done">Mark as done</a></li>
                </ul>
            </div-->
        </div>
    </div>
</div>
<div class="row" id="partial">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default remove-rad-nav todo-list">
            <ul id="list_undone" class="list-group">
                <li class="list-group-item"><small><i>Undone</i></small></li>
            </ul>
            <ul id="list_done" class="list-group">
                <li class="list-group-item"><small><i>Completes</i></small></li>
            </ul>
        </div>
    </div>
</div>

